NEXT_PUBLIC_DATABASE_URL="PostgreSQL database URL"
NEXT_PUBLIC_SESSION_SECRET="Randomly Generated Key"
NEXT_PUBLIC_GOOGLE_CLIENT_ID="Google Client ID"
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET="Google Client Secret"
NEXT_PUBLIC_REDIRECT_URI="http://localhost:3000/api/users/oauth" # "https://hosted.website/api/users/oauth"
